body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: white;
    color: #333;
}

/* Main */
main body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
main h1 {
    margin: 20px 0;
    color: #06014b;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #705aeca2;
    border-radius: 25px;
    width: 250px;
    transition: border-color 0.3s;
}

.search:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #6b6eff, #06014b);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.room-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.location-section {
    border-radius: 8px;
    padding: 20px;
}

.location-section h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #06014b;
}

.room-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 15px;
}

.room-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 7px 4px rgba(231, 224, 224, 0.178);
    background-color: #fff;
}

.room-card h3 {
    margin: 10px 0;
    color: #444;
}

.room-card p {
    margin: 5px 0;
    color: #666;
}

.room-card a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(45deg, #6b6eff, #06014b);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}

.room-card a:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .room-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }
}

@media (max-width: 480px) {
    .room-grid {
        grid-template-columns: 1fr; /* 1 column for very small screens */
    }
}
